Repository zeotoni/VollMed-Web: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, npm run prettier, npm run stylelint:fix

chore: remove yarn.lock
  yarn.lock
Due: none

feat: add routerlink navigation to listing component button
  src/app/pages/listing/listing.component.html
Due: none

refactor: remove disabled property bind from button template
  src/app/shared/button/button.component.html
Due: none

feat: add routerlink navigation to edit success function && correct modal text message
  src/app/pages/edit/edit.component.ts
Due: npm run lint:fix, npm run prettier

refactor: add disabled property bind to button template
  src/app/shared/button/button.component.html
Due: none

feat: add routerlink navigation to canceling button
  src/app/shared/form/form.component.html
Due: none

chore: remove stylelint
  .lintstagedrc.json
  .stylelintrc.js
  package-lock.json
  package.json
Due: none

feat: add profile deactivation modal template
  src/app/shared/deactivation-modal/deactivation-modal.component.html
  src/app/shared/deactivation-modal/deactivation-modal.component.scss
  src/app/shared/deactivation-modal/deactivation-modal.component.ts
  src/app/shared/shared.module.ts
Due: npm run lint:fix, npm run prettier, npm run stylelint:fix

style: fix space/identation issues
  src/app/shared/form/form.component.scss
Due: npm run stylelint:fix

feat: add new style and functionality to the modal-warning component
  src/app/shared/modal-warning/modal-warning.component.html
  src/app/shared/modal-warning/modal-warning.component.scss
  src/app/shared/modal-warning/modal-warning.component.ts
Due: npm run lint:fix, npm run prettier, npm run stylelint:fix

refactor: adapt edit component to use updated modal-warning implementation
  src/app/pages/edit/edit.component.html
  src/app/pages/edit/edit.component.ts
Due: npm run lint:fix, npm run prettier

style: adds new space style to deactivation modal
  src/app/shared/deactivation-modal/deactivation-modal.component.scss
Due: npm run stylelint:fix

feat: implements deactivation modal to card-medico component
  src/app/shared/card-medico/card-medico.component.html
  src/app/shared/card-medico/card-medico.component.ts
  src/app/shared/deactivation-modal/deactivation-modal.component.html
  src/app/shared/deactivation-modal/deactivation-modal.component.scss
  src/app/shared/deactivation-modal/deactivation-modal.component.ts
Due: npm run lint:fix, npm run prettier, npm run stylelint:fix

feat: adds profile deactivation function
  src/app/core/services/medicos.service.ts
  src/app/shared/deactivation-modal/deactivation-modal.component.html
  src/app/shared/deactivation-modal/deactivation-modal.component.ts
Due: npm run lint:fix, npm run prettier

feat: adds automatic updating of the medicos list and refactors the code
  src/app/core/services/medicos-list.service.ts
  src/app/core/services/medicos.service.ts
  src/app/pages/listing/listing.component.ts
  src/app/shared/deactivation-modal/deactivation-modal.component.ts
Due: npm run lint:fix, npm run prettier

feat: adds medicos filtering function
  src/app/app.module.ts
  src/app/core/services/medicos-list.service.ts
  src/app/core/services/medicos.service.ts
  src/app/core/services/shared.service.ts
  src/app/pages/listing/filter-by-name.pipe.ts
  src/app/pages/listing/listing.component.html
  src/app/pages/listing/listing.component.ts
Due: npm run lint:fix, npm run prettier

refactor: rename medico to doctor and update file names to English
  src/app/core/enums/specialty.ts
  src/app/core/enums/state.ts
  src/app/core/interfaces/address.ts
  src/app/core/interfaces/doctor.ts
  src/app/core/interfaces/endereco.ts
  src/app/core/services/doctor-list.service.ts
  src/app/core/services/medicos-list.service.ts
  src/app/core/services/medicos.service.ts
  src/app/core/services/shared.service.ts
  src/app/pages/edit/edit.component.html
  src/app/pages/edit/edit.component.ts
  src/app/pages/home/home.component.html
  src/app/pages/listing/filter-by-name.pipe.ts
  src/app/pages/listing/listing.component.html
  src/app/pages/listing/listing.component.ts
  src/app/pages/sign-up/sign-up.component.html
  src/app/pages/sign-up/sign-up.component.ts
  src/app/shared/button/button.component.ts
  src/app/shared/card-doctor/card-doctor.component.html
  src/app/shared/card-doctor/card-doctor.component.scss
  src/app/shared/card-doctor/card-doctor.component.ts
  src/app/shared/card-medico/card-medico.component.html
  src/app/shared/deactivation-modal/deactivation-modal.component.html
  src/app/shared/deactivation-modal/deactivation-modal.component.ts
  src/app/shared/form/form.component.html
  src/app/shared/form/form.component.ts
  src/app/shared/shared.module.ts
Due: npm run lint:fix, npm run prettier, npm run stylelint:fix

refactor(forms): extract reusable contact and address form components
  src/app/shared/components/forms/address-form/address-form.component.html
  src/app/shared/components/forms/address-form/address-form.component.scss
  src/app/shared/components/forms/address-form/address-form.component.ts
  src/app/shared/components/forms/contact-form/contact-form.component.html
  src/app/shared/components/forms/contact-form/contact-form.component.scss
  src/app/shared/components/forms/contact-form/contact-form.component.ts
  src/app/shared/shared.module.ts
Due: npm run lint:fix, npm run prettier, npm run stylelint:fix

feat(patients): adds Patients module
  src/app/app-routing.module.ts
  src/app/features/home/home.component.html
  src/app/features/home/home.component.ts
  src/app/features/patients/patients.module.ts
Due: npm run lint:fix, npm run prettier

feat: add patient register page and routing setup
  src/app/features/patients/pages/patient-register/patient-register.component.html
  src/app/features/patients/pages/patient-register/patient-register.component.scss
  src/app/features/patients/pages/patient-register/patient-register.component.ts
  src/app/features/patients/patients-routing.module.ts
  src/app/features/patients/patients.module.ts
Due: npm run lint:fix, npm run prettier, npm run stylelint:fix

refactor: rename modal-warning to and move to directory for better structure
  src/app/shared/components/modals/modal-info/modal-info.component.html
  src/app/shared/components/modals/modal-info/modal-info.component.scss
  src/app/shared/components/modals/modal-info/modal-info.component.ts
  src/app/shared/shared.module.ts
Due: npm run lint:fix, npm run prettier, npm run stylelint:fix

feat: adds patient registration logic and service
  src/app/features/patients/models/patient.ts
  src/app/features/patients/pages/patient-register/patient-register.component.html
  src/app/features/patients/pages/patient-register/patient-register.component.ts
  src/app/features/patients/services/patient.service.ts
  src/app/shared/models/contact.ts
Due: npm run lint:fix, npm run prettier

fix: change input type from number to text
  src/app/shared/components/forms/address-form/address-form.component.html
Due: none

feat: adds card-profile-component
  src/app/shared/components/card-profile/card-profile.component.html
  src/app/shared/components/card-profile/card-profile.component.scss
  src/app/shared/components/card-profile/card-profile.component.ts
  src/app/shared/models/profile-card.ts
  src/app/shared/shared.module.ts
Due: npm run lint:fix, npm run prettier, npm run stylelint:fix

feat: add custom pipes for cpf, postal-code, and phone number formatting
  src/app/shared/components/card-profile/card-profile.component.html
  src/app/shared/pipes/cpf.pipe.ts
  src/app/shared/pipes/phone.pipe.ts
  src/app/shared/pipes/postal-code.pipe.ts
  src/app/shared/shared.module.ts
Due: npm run lint:fix, npm run prettier

feat: adds listing component with service integration
  src/app/features/patients/models/patient.ts
  src/app/features/patients/pages/patient-list/patient-list.component.html
  src/app/features/patients/pages/patient-list/patient-list.component.scss
  src/app/features/patients/pages/patient-list/patient-list.component.ts
  src/app/features/patients/patients-routing.module.ts
  src/app/features/patients/patients.module.ts
  src/app/features/patients/services/patient.service.ts
  src/app/shared/services/profile-listing.service.ts
Due: npm run lint:fix, npm run prettier, npm run stylelint:fix

refactor: extract contact and address form logic to services
  src/app/shared/components/forms/address-form/address-form.component.ts
  src/app/shared/components/forms/contact-form/contact-form.component.ts
  src/app/shared/services/address-form.service.ts
  src/app/shared/services/contact-form.service.ts
Due: npm run lint:fix, npm run prettier

refactor: assign string values to State enum members
  src/app/shared/models/state.ts
Due: npm run lint:fix, npm run prettier

feat: adds patient update feature and service logic
  src/app/features/patients/models/patient.ts
  src/app/features/patients/pages/patient-edit/patient-edit.component.html
  src/app/features/patients/pages/patient-edit/patient-edit.component.scss
  src/app/features/patients/pages/patient-edit/patient-edit.component.ts
  src/app/features/patients/patients-routing.module.ts
  src/app/features/patients/patients.module.ts
  src/app/features/patients/services/patient.service.ts
  src/app/shared/components/card-profile/card-profile.component.ts
Due: npm run lint:fix, npm run prettier, npm run stylelint:fix

refactor: update interfaces and methods to align with new structure
  src/app/features/patients/models/patient.ts
  src/app/features/patients/pages/patient-edit/patient-edit.component.ts
  src/app/features/patients/services/patient.service.ts
Due: npm run lint:fix, npm run prettier

feat: adds patient-delete feature and service logic
  src/app/features/patients/services/patient.service.ts
  src/app/shared/components/card-profile/card-profile.component.html
  src/app/shared/components/card-profile/card-profile.component.ts
  src/app/shared/components/modal-deactivation/modal-deactivation.component.ts
  src/app/shared/components/modals/modal-deactivation/modal-deactivation.component.html
  src/app/shared/components/modals/modal-deactivation/modal-deactivation.component.scss
  src/app/shared/components/modals/modal-deactivation/modal-deactivation.component.ts
  src/app/shared/models/profile-card.ts
  src/app/shared/services/profile-deactivation.service.ts
  src/app/shared/shared.module.ts
Due: npm run lint:fix, npm run prettier, npm run stylelint:fix

feat: adds filtering function to patients-list-component
  src/app/features/patients/pages/patient-list/patient-list.component.html
  src/app/features/patients/pages/patient-list/patient-list.component.ts
  src/app/shared/pipes/filter-by-name.pipe.ts
  src/app/shared/shared.module.ts
Due: npm run lint:fix, npm run prettier

feat: adds onDestroy hook and async pipe subscription to patient-list
  src/app/features/patients/pages/patient-list/patient-list.component.html
  src/app/features/patients/pages/patient-list/patient-list.component.ts
Due: npm run lint:fix, npm run prettier

feat: implement profile-list caching using BehaviorSubject
  src/app/features/patients/pages/patient-edit/patient-edit.component.ts
  src/app/features/patients/pages/patient-list/patient-list.component.ts
  src/app/shared/services/profile-deactivation.service.ts
  src/app/shared/services/profile-listing.service.ts
Due: npm run lint:fix, npm run prettier

refactor: update header component with new functionality
  src/app/shared/components/header/header.component.html
  src/app/shared/components/header/header.component.ts
Due: npm run lint:fix, npm run prettier

fix: update button text in patient edit component
  src/app/features/patients/pages/patient-edit/patient-edit.component.html
Due: none

fix: update header title in patient list component
  src/app/features/patients/pages/patient-list/patient-list.component.html
Due: none

refactor: update doctor-register-component to use new form structure
  src/app/features/doctors/components/form/form.component.html
  src/app/features/doctors/components/form/form.component.scss
  src/app/features/doctors/components/form/form.component.ts
  src/app/features/doctors/doctors.module.ts
  src/app/features/doctors/models/doctor.ts
  src/app/features/doctors/pages/doctor-register/doctor-register.component.html
  src/app/features/doctors/pages/doctor-register/doctor-register.component.scss
  src/app/features/doctors/pages/doctor-register/doctor-register.component.ts
  src/app/features/doctors/services/doctor.service.ts
Due: npm run lint:fix, npm run prettier, npm run stylelint:fix

Path conditions:
  npm run lint:fix: any of: src/**/*.{js,ts}
  npm run prettier: any of: src/**/*.{js,ts}
  npm run stylelint:fix: any of: src/**/*.{css,scss}
